* {
    padding: 0;
    margin: auto;
    font-family: "Noto Sans CJK KR";
    width: 300px;
}

.login {
    margin-top: 250px;
}

#email, #password {
    height: 30px;
    width: 100%;
    border: none;
    background-color: rgb(218, 218, 218);
}
.signin {
    margin-top: 25px;
    text-align: center;
}

#loginbtn {
    background-color: rgb(128, 128, 128);
    color: white;
    border: none;
    height: 40px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    box-shadow: 1px 1px 10px rgb(107, 107, 107);
}